/* Tester Font */

 @font-face {
    font-family: 'Gopher';
    src: url('Gopher-medium.woff2') format('woff2'),
         url('Gopher-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
 }


