/* Tester Font */


@font-face {
 @font-face {
    font-family: 'Gopher', sans-serif;
    src: url('gopherdisplay-medium-webfont.woff2') format('woff2'),
         url('gopherdisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;



@font-face {
  font-family: "Gopher", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://github.com/pldweb/fontku/blob/main/Gopher-Thin.ttf') format('truetype');
}

@font-face {
  font-family: "Gopher", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://github.com/pldweb/fontku/blob/main/Gopher-Regular.ttf') format('truetype');
}