


@font-face {
    font-family: 'lillybelleregular';
    src: url('lillybelle_2-webfont.woff2') format('woff2'),
         url('lillybelle_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}